/* --------- */
/* CABECALHO */
/* --------- */
.cabecalhoPrincipal .container {
  display: flex;
  align-items: center; /* centraliza os filhos horizontalmente */
  justify-content: space-between; /* alinhamento dos itens |item   |   item   |   ...| */
}

	.cabecalhoPrincipal-nav {
		display: flex;
	}

/* ------ */
/* RODAPE */
/* ------ */
.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between; /* alinhamento dos itens |item    |item    |...    | */
}

	/* LISTA DE PATROCINADORES */
	.rodapePrincipal-patrocinadores-list {
		display: flex;
		align-items: center; /* centraliza os filhos horizontalmente */
		justify-content: space-around;  /* alinhamento dos itens |  item  |  item  |  ...  | */
		margin-right: 5%;
		width: 70%;
	}

	/* ENTRE EM CONTATO CONTAINER */
	.rodapePrincipal-contatoForm {
		width: 25%
	}

	/* ENTRE EM CONTATO FORM */
	.rodapePrincipal-contatoForm-fieldset {
		display: flex; /* Deixa os elementos do form com a mesma altura corrigido o problema do botao */
	}

/* -------------- */
/* MAPA DE CURSOS */
/* -------------- */
.rodapePrincipal-navMap-list {
  display: flex;

  /* flex-direction: column; */   /* Posiciona os itens um embaixo do outro ao invés do padrão row um ao lado do outro */
  /* flex-wrap: wrap;        */   /* Faz a quebra wrap de acordo com a altura do elemento pai 250px */
  
  flex-flow: column wrap; /* tem o mesmo efeito das propriedades flex-direction + flex-wrap */
  
  height: 250px; /* Define-se a altura do pai baseado na altura do maior filho */
}

/* ------------- */
/* NOSSOS CURSOS */
/* ------------- */

/* CRIANDO UM GRID FLEXBOX */
.conteudoPrincipal-cursos {
	display: flex;
	flex-wrap: wrap;
}

	.conteudoPrincipal-cursos-link {
		width: 23%;
		margin: 1%; /* 1% margin esquerda + 1% margin direita = 25% total width */
	}

	.conteudoPrincipal-cursos-link:nth-child(4n) { /* Manipula todos os li multiplos de 4 */
		margin-right: 0;
	}

	.conteudoPrincipal-cursos-link:nth-child(4n+1) { /* Manipula todos os li multiplos de 4 + 1 */
		margin-left: 0;
	}

/* ----------------- */	
/* VIDEO E VANTAGENS */
/* ----------------- */
.videoSobre .container {
	display: flex;
	justify-content: space-between;
}

.videoSobre-sobre {
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-grow: 2; /* cresce o item distribuindo o espaco do container flex crescendo ate o tamanhoda pagina */
}

.videoSobre-sobre-list {
	flex-grow: 1;
}

.videoSobre-video {
	flex-grow: 1;
	flex-shrink: 2;
}

/* ------------- */
/* 		MOBILE		 */
/* ------------- */
@media(max-width: 768px){ /* Aplica os estilos para devices com tela de no max 768px */
	
	/* CABECALHO */
	.cabecalhoPrincipal .container {
		flex-direction: column; /* Quanto muda o flex direction o main axis passa a ser o cross axis e as propriedades align-itens e justify-container mudam a direcao */
		align-items: initial;
		text-align: center;
	}
	
	.cabecalhoPrincipal-nav {
		flex-direction: column;
	}
	
	/* CONTEUDO */
	.conteudoPrincipal-cursos {
		flex-direction: column;
	}

	.conteudoPrincipal-cursos-link {
		width: 100%;
		margin-left: 0;
	}

	/* RODAPE NAV LIST */
	.rodapePrincipal-navMap-list {
		height: auto;
	}

	/* PATROCINADORES */
	.rodapePrincipal-patrocinadores .container {
		flex-direction: column;
		align-items: center;
	}

	.rodapePrincipal-contatoForm {
		width: 100%;
	}

	.rodapePrincipal-patrocinadores-list {
		width: 100%;
		margin: 0;
	}
	
	.rodapePrincipal-contatoForm-fieldset {
		justify-content: center;
	}

	.cabecalhoPrincipal-nav-link-app {
		order: -1; /* coloca o filho Nosso App em primeiro lugar da lista */
	}

	.videoSobre .container {
		flex-direction: column;
	}

	.videoSobre-video {
		margin: 0 auto;
	}
}